main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 0 auto;
}

.tool {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* mobile */
@media (max-width: 500px) {
    .actions {
        justify-content: flex-end;
    }

    .tool {
        text-align: right;
        margin-left: 25%;
    }
}

/* desktop */
@media (min-width: 500px) {
    main {
        grid-template-columns: 1fr auto;
        align-items: start;
        max-width: 50rem;
    }

    .tool {
        text-align: left;
    }

    .actions {
        justify-content: flex-start;
    }

    .content {
        max-width: 40rem;
    }
}
