body {
    font-family: Nunito Sans, sans-serif;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #000000;
    }

    hr {
        border-color: #dddddd;
    }

    aside {
        border-color: #eeeeee;
        background-color: #333333;
    }

    section {
        background-color: #222222;
    }

    textarea {
        background-color: #222222;
        color: #ffffff;
    }

    th,
    td {
        border-color: #ffffff;
    }

    th {
        background-color: #444444;
    }

    button:disabled {
        background-color: #444444;
        border-color: #000000;
        color: #cccccc;
    }

    a:link {
        color: #7ef984;
    }

    a:visited {
        color: #eb80d9;
    }

    /* TODO: fix flash of green when hovering in firefox */

    .page-card:visited {
        background-color: #2e222e;
    }

    .page-card:visited:hover {
        background-color: #4b3246;
    }

    .page-card:link {
        background-color: #252e22;
    }

    .page-card:link:hover {
        background-color: #384b32;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #000000;
        background-color: #ffffff;
    }

    hr {
        border-color: #222222;
    }

    aside {
        border-color: #111111;
        background-color: #cccccc;
    }

    section {
        background-color: #dddddd;
    }

    textarea {
        background-color: #dddddd;
        color: #000000;
    }

    th,
    td {
        border-color: #000000;
    }

    th {
        background-color: #bbbbbb;
    }

    button:disabled {
        background-color: #777777;
        border-color: #555555;
        color: #cccccc;
        cursor: not-allowed;
    }

    a:link {
        color: #5ece63;
    }

    a:visited {
        color: #cd60bb;
    }

    /* TODO: fix flash of green when hovering in firefox */

    .page-card:visited {
        background-color: #efc3ef;
    }

    .page-card:visited:hover {
        background-color: #eeb0e1;
    }

    .page-card:link {
        background-color: #c3e7b7;
    }

    .page-card:link:hover {
        background-color: #a6d897;
    }
}

body {
    max-width: 50em;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

hr {
    border-width: 1.5px;
    border-style: solid;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.17rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5em;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

strong {
    font-weight: 800;
}

del {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

aside {
    border-left: 5px solid;
    padding: 5px 5px 5px 9px;
    margin: 5px;
    font-style: italic;
}

section {
    padding: 1px 5px 20px 15px;
    margin: 5px;
}

textarea {
    width: 95%;
    height: auto;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

button {
    color: #000000;
    background-color: #faec81;
    border-color: #c8bd67;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 100ms ease;
}

button:enabled:hover {
    background-color: #fff7bb;
}

button:disabled {
    cursor: not-allowed;
}

input {
    width: 10rem;
    font-family: Nunito Sans, sans-serif;
}

.page-card {
    display: inline-block;
    text-decoration: none;
    padding: 0.1em 1em;
    width: 50%;
    border-radius: 8px;
    transition: all 100ms ease;
    flex: 1 1 20em;
}

.page-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -0.5em;
}

.header-text {
    flex: 1;
}

.header-img {
    margin-left: 1rem;
    width: 48px;
    height: 48px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.tool {
    width: auto;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    margin-bottom: 0.2em;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    top: 50px;
    right: 0;
    padding-top: 0.5em;
    transition: all 100ms ease;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1;
}
